body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin-top: 20px;
}

label {
    width: 100px;
    display: inline-block;
}